<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar al carrito</title>
	<style> 
	
		#form4 {
				text-align: center;
			}
	</style>

</head>
<body>

    <!-- -->
	<form id="form4" action ="/example/web/agregar/{{skus}}" name="AgregarCarrito" method="post" > 
    
    
    <label> <font color="blue">INTRODUCE LOS DATOS QUE SE SOLICITAN PARA EFECTUAR TU PEDIDO </font> </label><br><br><br>
	
	<label> Ha elegido el producto </label>
	<input name="skus" type="text" value="{{skus}}"> <br><br>
	
	<label> Numero de Tarjeta de Credito (16 digitos) </label>
	<input name="cardnumber" type="number"> <br><br>
	
	<label> Nombre Tarjeta habiente </label>
	<input name="nameTarjeta" type="text"> <br><br>
		
		
    <br><br><br>
	<button name = "sku" type="submit"> Agregar al carrito </button>
	
	</form>
	
</body>

</html>