<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seleccion de producto</title>
	<style> 
	
		#form3 {
				text-align: center;
			}
	</style>
</head>
<body>
    <!-- -->
	<form id="form3" action ="/example/web/intermedia2?skus" name="seleccionProducto" method="get"> 
		
	<label> <font color="red" size=7>SELECCION DE PRODUCTO</font> </label><br><br><br>
	
<table border="5px" align="center">

<tr>
  <td rowspan="4"><img src="{{ps.URL_IMAGEN_GRANDE}}"></td>
  <td> <strong> {{ps.NOMBRE}} </strong> </td>
</tr>
 
<tr> 
 
  <td> <strong> {{ps.DESCRIPCION}} </strong> </td>
</tr>

<tr>
 
  <td> <strong> {{ps.PRECIO}} </strong> </td>
</tr>

<tr>
 
  <td> <strong> {{psc.NOMBRE_}} </strong> </td>
</tr>

</table>

    <br><br><br>
	<button name = "skus" type="submit" value="{{ps.SKU}}"> Agregar </button>

	</form>
	
</body>

</html>